<form [formGroup]="formValidator.formGroup">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </ion-list>

  <div *ngIf="isRegistering">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="doRegister()" [disabled]="formValidator.formButtonDisabled">Register</ion-button>
    <p class="ion-text-center">Already have an account? <a (click)="toggleRegister()">Login</a></p>
  </div>

  <div *ngIf="!isRegistering">
    <ion-button expand="block" (click)="doLogin()" [disabled]="formValidator.formButtonDisabled">Login</ion-button>
    <p class="ion-text-center">Don't have an account yet? <a (click)="toggleRegister()">Register</a></p>
  </div>
</form>