<form [formGroup]="formValidator.formGroup">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <span slot="error">Enter a valid email</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <span slot="error">Invalid password</span>
    </ion-item>
  </ion-list>

  <div *ngIf="isRegistering">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
        ></ion-input>
        <span slot="error">Password doesn't match</span>
      </ion-item>
    </ion-list>
    <ion-button
      expand="block"
      (click)="doRegister()"
      [disabled]="formValidator.formButtonDisabled"
      >Register</ion-button
    >
    <p class="ion-text-center">
      Already have an account? <a (click)="toggleRegister()">Login</a>
    </p>
  </div>

  <div *ngIf="!isRegistering">
    <ion-button
      expand="block"
      (click)="doLogin()"
      [disabled]="formValidator.formButtonDisabled"
      color="primary"
      fill="outline"
      class="ion-margin-vertical"
      >Login</ion-button
    >
    <ion-button
      expand="block"
      (click)="doGoogleLogin()"
      color="tertiary"
      fill="outline"
      class="ion-margin-vertical"
    >
      Login with Google
      <ion-icon slot="end" name="logo-google"></ion-icon>
    </ion-button>

    <ion-row class="ion-justify-content-center">
      <ion-text>
        Don't have an account yet?
        <ion-text color="primary" (click)="toggleRegister()">
          <span>Register</span>
        </ion-text>
      </ion-text>
    </ion-row>
  </div>
</form>
