<div class="d-flex align-items-center justify-content-center">
  <ion-button
    shape="round"
    color="tertiary"
    (click)="openModal(ModalContentEnum.All)"
  >
    <ion-icon name="options-outline" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-chip (click)="openModal(ModalContentEnum.Distance)">Distance</ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Availabilty)">
    Availability
  </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Tag)"> Tag </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Partecipation)">
    Partecipation
  </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Author)"> Author </ion-chip>
</div>

<ion-modal (willDismiss)="onWillDismiss($event)">
  <ng-template [formGroup]="formValidator?.formGroup">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <!-- <ion-title>Set bcast filters</ion-title> -->
        <ion-buttons slot="end">
          <ion-button
            (click)="confirm()"
            [strong]="true"
            [disabled]="formValidator.formButtonDisabled"
            >Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- distance container-->
      <ng-container *ngIf="showModalContent(ModalContentEnum.Distance)" formGroupName="maxDistMeters">
        <ion-item>
          <ion-label>Any distance</ion-label>
          <ion-checkbox formControlName="all"></ion-checkbox>
        </ion-item>
      
        <ion-item [disabled]="formValidator.anyDistanceAllowed">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <ion-text>
                  Max distance
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-range
                  formControlName="favorite"
                  labelPlacement="end"
                  [label]="formValidator.maxDistLabel"
                  [min]="0"
                  [max]="100000"
                  [step]="10000"
                >
                </ion-range>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
      <!-- availability container -->
      <ng-container *ngIf="showModalContent(ModalContentEnum.Availabilty)" formGroupName="availability">
        <ion-item>
          availability
        </ion-item>
      </ng-container>
      <!-- tag container -->
      <ion-item *ngIf="showModalContent(ModalContentEnum.Tag)"> tag </ion-item>
      <!-- partecipation container -->
      <ion-item *ngIf="showModalContent(ModalContentEnum.Partecipation)">
        partecipation
      </ion-item>
      <!-- author container -->
      <ion-item *ngIf="showModalContent(ModalContentEnum.Author)">
        author
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
