<div class="d-flex align-items-center justify-content-center">
  <ion-button
    shape="round"
    color="tertiary"
    (click)="openModal(ModalContentEnum.All)"
  >
    <ion-icon name="options-outline" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-chip (click)="openModal(ModalContentEnum.Distance)">Distance</ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Tag)"> Tag </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Availabilty)">
    Availability
  </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Partecipation)">
    Partecipation
  </ion-chip>
  <ion-chip (click)="openModal(ModalContentEnum.Author)"> Author </ion-chip>
</div>

<ion-modal (willDismiss)="onWillDismiss($event)">
  <ng-template [formGroup]="formValidator?.formGroup">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <!-- <ion-title>Set bcast filters</ion-title> -->
        <ion-buttons slot="end">
          <ion-button
            (click)="confirm()"
            [strong]="true"
            [disabled]="formValidator.formButtonDisabled"
            >Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content *ngIf="formValidator?.formGroup">
      <!-- distance container-->
      <ng-container
        *ngIf="showModalContent(ModalContentEnum.Distance)"
        formGroupName="maxDistMeters"
      >
        <ion-item>
          <ion-text color="primary">
            <h4>Distance</h4>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Any</ion-label>
          <ion-checkbox formControlName="any"></ion-checkbox>
        </ion-item>

        <ion-item [disabled]="formValidator.anyDistanceAllowed">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <ion-text>Max</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-range
                  formControlName="favorite"
                  labelPlacement="end"
                  [label]="formValidator.maxDistLabel"
                  [min]="0"
                  [max]="100000"
                  [step]="10000"
                >
                </ion-range>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
      <!-- tag container -->
      <ng-container
        *ngIf="showModalContent(ModalContentEnum.Tag)"
        formGroupName="tag"
      >
        <ion-item>
          <ion-text color="primary">
            <h4>Tag</h4>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Any</ion-label>
          <ion-checkbox formControlName="any"></ion-checkbox>
        </ion-item>
        <ion-item [disabled]="formValidator.anyTagAllowed">
          <ion-label position="fixed"> Enter a tag: </ion-label>
          <ion-input formControlName="temp" (keydown.enter)="formValidator.addTag()"></ion-input>
          <span slot="error">Tag must be between 3 and 12 characters</span>
        </ion-item>
        <ion-item [disabled]="formValidator.anyTagAllowed">
          <ng-container *ngFor="let tag of formValidator?.tag?.value; let i = index;">
            <ion-chip color="secondary">
              {{tag}}
              <ion-icon name="close-circle" (click)="formValidator.removeTag(i)"></ion-icon>
            </ion-chip>
          </ng-container>
        </ion-item>
      </ng-container>
      <!-- availability container -->
      <ng-container *ngIf="showModalContent(ModalContentEnum.Availabilty)">
        <ion-item>
          <ion-text color="primary">
            <h4>Availability</h4>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="availability" class="w-100">
            <ion-radio justify="space-between" value="any">Any</ion-radio>
            <ion-radio justify="space-between" value="vacant">Vacant</ion-radio>
            <ion-radio justify="space-between" value="soldOut"
              >Sold out</ion-radio
            >
          </ion-radio-group>
        </ion-item>
      </ng-container>
      <!-- partecipation container -->
      <ng-container *ngIf="showModalContent(ModalContentEnum.Partecipation)">
        <ion-item>
          <ion-text color="primary">
            <h4>Partecipation</h4>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="partecipation" class="w-100">
            <ion-radio justify="space-between" value="any">Any</ion-radio>
            <ion-radio justify="space-between" value="partecipating"
              >I'm partecipating</ion-radio
            >
            <ion-radio justify="space-between" value="notPartecipating"
              >I'm not partecipating</ion-radio
            >
          </ion-radio-group>
        </ion-item>
      </ng-container>
      <!-- author container -->
      <ng-container *ngIf="showModalContent(ModalContentEnum.Author)">
        <ion-item>
          <ion-text color="primary">
            <h4>Author</h4>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-radio-group formControlName="author" class="w-100">
            <ion-radio justify="space-between" value="any">Any</ion-radio>
            <ion-radio justify="space-between" value="me">Me</ion-radio>
            <ion-radio justify="space-between" value="others">Others</ion-radio>
          </ion-radio-group>
        </ion-item>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>
