<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header class="d-flex justify-content-between">
    <ion-card-title>{{ listedBcast?.title }}</ion-card-title>
    <div>
      <span class="me-2">
        <span>
          {{ listedBcast?.distMeters }} meters
        </span>
        <ion-icon name="rocket"></ion-icon>
      </span>

      <!-- <span *ngIf="!joined">
        <span> 0/{{ listedBcast?.maxUsers }} </span>
        <ion-icon name="person"></ion-icon>
      </span> -->
    </div>

  </ion-card-header>


  <ion-card-content>
    <span class="blockquote-footer" [ngClass]="userTag?.includes(tag) ? 'fw-bold' : null"
      *ngFor="let tag of listedBcast?.tag">
      {{ tag }}
    </span>
  </ion-card-content>

  <ion-card-content>
    Expires at:
    <ion-icon name="calendar" class="mx-2"></ion-icon>
    {{ listedBcast?.expiresAt | date: dateFns.formatString() }}
  </ion-card-content>

  <div *ngIf="!listedBcast.joined">
    <ion-button fill="clear" class="me-3" (click)="onJoin()">Join</ion-button>
  </div>

  <div *ngIf="listedBcast.joined">
    <ion-button fill="clear" class="me-3" (click)="onChat()">Chat</ion-button>
  </div>

</ion-card>