<ion-list [formGroup]="formValidator?.formGroup" *ngIf="formValidator?.formGroup">
  <ion-item>
    <ion-label>Modify user profile for </ion-label>
    <!-- <ion-label color="primary">{{ (userService.userSession.get() | async)?.user?.email }}</ion-label> -->
  </ion-item>

  <ion-item>
    add position and last update
  </ion-item>

  <ion-item>
    <ion-input #tag placeholder="Enter tag" (keydown.enter)="formValidator.addTag(tag.value)"
      (keydown.space)="formValidator.addTag(tag.value)" />
  </ion-item>

  <ion-item>
    <div>
      <ion-chip color="primary" *ngFor="let t of formValidator?.tag?.value; let i = index;">
        <ion-label>{{ t }}</ion-label>
        <ion-icon name="close-circle" (click)="formValidator.removeTag(i)"></ion-icon>
      </ion-chip>
    </div>
  </ion-item>
</ion-list>

<ion-button slot="end" (click)="save()"> Save </ion-button>