<ion-card>
  <ion-thumbnail style="height: 290px; width: 100%">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>

  <ion-card-header>
    <ion-card-title
      ><ion-skeleton-text
        [animated]="true"
        style="width: 60%"
      ></ion-skeleton-text
    ></ion-card-title>
    <ion-card-subtitle>
      <ion-skeleton-text
        [animated]="true"
        style="width: 50%"
      ></ion-skeleton-text>
    </ion-card-subtitle>
    <ion-card-subtitle>
      <ion-skeleton-text
        [animated]="true"
        style="width: 40%"
      ></ion-skeleton-text>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <ion-chip>
        <ion-skeleton-text
          [animated]="true"
          style="width: 40px"
        ></ion-skeleton-text>
      </ion-chip>
      <ion-chip>
        <ion-skeleton-text
          [animated]="true"
          style="width: 40px"
        ></ion-skeleton-text>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-thumbnail class="ion-float-end ion-margin" style="height: 34px; width: 80px;">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>
</ion-card>
