<div *ngIf="bcastDetail" class="p-4">
  <!-- bcast image -->
  <img [src]="imageSrc" alt="Immagine del broadcast" class="pb-4" />

  <!-- bcast title -->
  <h1>
    <ion-text>
      {{ bcastDetail.title }}
    </ion-text>
  </h1>

  <!-- bcast expires at -->
  <div>
    <ion-text color="primary">
      <ion-icon name="calendar"></ion-icon>
      {{ bcastDetail.expiresAt | date : dateFns.formatString() }}
    </ion-text>
  </div>


  <!-- bcast location -->
  <div class="pb-4">
    <ion-text>
      <ion-icon name="rocket"></ion-icon>
      {{ bcastDetail.distMeters | metersToKm | number : "1.0-1" }} Km
    </ion-text>
  </div>


  <!-- CONTENT -->
  <b>
    <ion-text> Descrizione </ion-text>
  </b>
  <p>{{ bcastDetail.content }}</p>

  <ion-button
    (click)="onChatClick()"
    *ngIf="bcastDetail.joined"
    style="width: 100%"
    >Chat</ion-button
  >
  <ion-button
    (click)="onJoinClick()"
    *ngIf="!bcastDetail.joined"
    style="width: 100%"
    >Join</ion-button
  >
</div>
