<ion-card *ngIf="bcastDetail">

  <img [src]="imageSrc" />

  <ion-card-header>
    <ion-card-title>{{ bcastDetail.title }}</ion-card-title>
    <ion-card-subtitle color="primary">
      {{ bcastDetail.expiresAt | date : dateFns.formatString() }}
    </ion-card-subtitle>
    <ion-card-subtitle>
      <ion-icon name="rocket"></ion-icon>
      <ion-text>
        {{ bcastDetail.distMeters | metersToKm | number : "1.0-1" }} Km from you
      </ion-text>
    </ion-card-subtitle>
    <!-- <ion-card-subtitle>
      <ion-button color="primary" size="small" (click)="showLocation()">
        <ion-icon slot="start" name="locate-outline"></ion-icon>
        Show location
      </ion-button>      
    </ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    <ion-text>
      {{ bcastDetail.content }}
    </ion-text>

<!-- 
    <ion-thumbnail *ngIf="bcastDetail?.location" class="ion-padding">
      <app-map-preview [position]="bcastDetail.location"></app-map-preview>
    </ion-thumbnail> -->    
  </ion-card-content>

  <ion-row>
    <ion-col>
      <app-tag-chips [favoriteTag]="favoriteTag" [tag]="bcastDetail?.tag"></app-tag-chips>
    </ion-col>
  </ion-row>

  <ion-button   
    class="ion-float-end ion-margin"
    color="tertiary"
    (click)="onChatClick()"
    *ngIf="bcastDetail.joined"
    >Chat</ion-button
  >

  <ion-button
    class="ion-float-end ion-margin"
    color="tertiary"
    (click)="onJoinClick()"
    *ngIf="!bcastDetail.joined"
    >Join</ion-button
  >
</ion-card>
