<form [formGroup]="formValidator.formGroup">
  <ion-list>
    <ion-item *ngIf="formValidator?.imageUrl">
      <img [src]="formValidator.imageUrl">
    </ion-item>

    <app-image-cropper [imageUrl]="tempPhoto?.webPath" (croppedBase64)="onCroppedBase64($event)">
    </app-image-cropper>

    <ion-item>
      <ion-button size="large" (click)="takePicture()">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-datetime-button datetime="datetime" locale="it-IT"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="expiresAt" max="2030-01-01" [min]="dateFns.getIonDateTimeMin()">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>


    <ion-item>
      <ion-input label="Title:" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Content:" formControlName="content"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input label="Max users:" formControlName="maxUsers" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input #tagInput label="Tag:" formControlName="tempTag" errorText="Enter a valid tag"
      (keydown.enter)="addTag(tagInput)" (keydown.space)="addTag(tagInput)" />
  </ion-item>

  <ion-item>
    <div>
      <ion-chip color="primary" *ngFor="let t of formValidator?.tag?.value; let i = index;">
        <ion-label>{{ t }}</ion-label>
        <ion-icon name="close-circle" (click)="formValidator.removeTag(i)"></ion-icon>
      </ion-chip>
    </div>
  </ion-item>

  <ion-button (click)="save()" [disabled]="formValidator.formButtonDisabled"> Save </ion-button>
</form>