<ion-item style="overflow-x: scroll; white-space: nowrap">
  <app-bcast-filters
    (filtersChange)="onFiltersChange($event)"
    [filters]="bcastService.filters.get$() | async"
  ></app-bcast-filters>
</ion-item>

<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-content
  *ngIf="(bcastService?.bcastList?.get$() | async)?.length && !isLoading"
>
  <ng-container
    *ngFor="let listedBcast of bcastService.bcastList.get$() | async"
  >
    <app-bcast-card-list
      [favoriteTag]="bcastService?.filters?.getFavoriteTag$() | async"
      [listedBcast]="listedBcast"
      (click)="onBcastCardClick(listedBcast)"
    >
    </app-bcast-card-list>
  </ng-container>
</ion-content>

<ion-content *ngIf="isLoading">
  <app-bcast-card-list-skeleton></app-bcast-card-list-skeleton>
  <app-bcast-card-list-skeleton></app-bcast-card-list-skeleton>
  <app-bcast-card-list-skeleton></app-bcast-card-list-skeleton>
</ion-content>

<ion-content
  *ngIf="!(bcastService?.bcastList?.get$() | async)?.length && !isLoading"
>
  <ion-text class="ion-text-center">
    <h4>No broadcast match this area</h4>
  </ion-text>
</ion-content>
