<ion-item style="overflow-x: scroll; white-space: nowrap;">
    <app-bcast-filters (filtersChange)="onFiltersChange($event)" [filters]="bcastService.filters.get$() | async"></app-bcast-filters>
</ion-item>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="(bcastService.bcastList.get$() | async)?.length && !isLoading">
        <div *ngFor="let listedBcast of bcastService.bcastList.get$() | async">
            <app-bcast-card-list [listedBcast]="listedBcast" (click)="onBcastCardClick(listedBcast)">
            </app-bcast-card-list>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoading">
        @todo add skeleton
    </ng-container>

    <ng-container *ngIf="!(bcastService.bcastList.get$() | async)?.length && !isLoading">
        <ion-text class="ion-padding">
            <h2>No braodcast match this area</h2>
        </ion-text>
    </ng-container>
</ion-content>