<ion-card class="ion-padding">
  <div class="d-flex">
    <div>
      <ion-thumbnail>
        <img [src]="imageSrc" />
      </ion-thumbnail>
    </div>

    <ion-card-content>

      <ion-card-subtitle color="primary">
        <ion-icon name="calendar"></ion-icon>
        {{ listedBcast?.expiresAt | date : dateFns.formatString() }}
      </ion-card-subtitle>

      <ion-card-title color="dark">
        {{ listedBcast?.title }}
      </ion-card-title>

      <div>
        <ion-text>
          <ion-icon name="rocket"></ion-icon>
          <span>
            {{ listedBcast?.distMeters | metersToKm | number : "1.0-1" }} Km
          </span>
        </ion-text>
      </div>

      <div>
        <ion-text>
          <ion-icon name="people-outline"></ion-icon>
          <span> {{ listedBcast?.joinedUsers || 0 }} participants </span>
        </ion-text>
      </div>

      <div>
        <ion-text color="success" *ngIf="listedBcast?.joined">
          You already partecipate
        </ion-text>
        <ion-text color="warning" *ngIf="!listedBcast?.joined && seatsLeft">
          {{ seatsLeft }} seats left
        </ion-text>
      </div>

      <div *ngIf="seatsLeft === 0 && !listedBcast.joined">
        <ion-text color="danger">
          No seats left
        </ion-text>
      </div>

    </ion-card-content>
  </div>

  <div>
    <ng-container *ngFor="let tag of listedBcast?.tag">
      <ion-chip
        color="secondary"
        
        *ngIf="!tagMatchesFavorite(tag)"
        >{{ tag }}</ion-chip
      >
      <ion-chip 
      color="success" 
      
      *ngIf="tagMatchesFavorite(tag)">{{
        tag
      }}</ion-chip>
    </ng-container>
  </div>
</ion-card>
